@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'poppins', cursive;
}
html {
    --scrollbarBG: #000000;
    --thumbBG: #fdc300;
  }
  html, body {
    width: 100%;
    overflow-x: hidden;
    }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 2px solid var(--scrollbarBG);
  }
::selection {
    color: white;
    background: #fdc300;
  }
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.font-main{
    font-family: 'Zen Dots', cursive;
}
.text-shadow {
    text-shadow: 0 0 0 #fdc300;
    transition: all ease-in-out .2s;
}
.text-shadow:hover {
    text-shadow: 0 0 10px #fdc300;
}
.enactus-day {
    background-image: url("images/Enactus encgt competition.jpg");
    background-color: #303030;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
}
.test-font {
    font-family: poppins;
}
.text-enactus {
    color: #fdc300;
}
.background-2 {
    background-image: url("images/enactus encgt.jpg");
    background-color: #303030;
    background-blend-mode: multiply;
    background-position: top;
    background-size: cover;
}
.border-try {
    border: 2px green solid;
}
.under-border::after {
        content: '.';
        display: block;
        height: 5px;
        width: 100px;
        margin: 10px auto;
        text-indent: -9999px;
        border-top: 4px solid #fdc300;
}
.take-full  {
    width: -webkit-fill-available;
}
.background-3 {
    background-image: url("images/enactus_day_powerskills.jpg");
    background-color: #303030;
    background-blend-mode: multiply;
    background-position: top;
    background-size: cover;
}
.border-try {
    border: 2px green solid;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #fdc300;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.my-font {
    font-family: New me;
}
@font-face {
    font-family: New me;
    src: url(myfont.ttf);
}
@font-face {
    font-family: font awsome;
    src: url(icons.ttf);
}

/* Scroll */

.blok:nth-of-type(odd) {
    background-color:white;
    }
        
    .blok:nth-of-type(even) {
    background-color:black;
    }
    
    @-webkit-keyframes border-transform{
        0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
        14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
        28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
        42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
        56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
        70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
        84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
    }
    .paginacontainer {
      height: 3000px;
    }
    
    /* #Progress
    ================================================== */
    
    .progress-wrap {
        position: fixed;
        right: 30px;
        bottom: 30px;
        height: 46px;
        width: 46px;
        cursor: pointer;
        display: block;
        border-radius: 50px;
        box-shadow: inset  0 0 0 2px rgba(255, 255, 255, 0.26); /*BG BEFORE*/
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .progress-wrap.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .progress-wrap::after {
        position: absolute;
        font-family: "font awsome";
        content: '\F25A';
        text-align: center;
        line-height: 46px;
        font-size: 24px;
        color: rgb(160, 160, 160); /* --- ICON COLOR --- */
        left: 0;
        top: 0;
        height: 46px;
        width: 46px;
        cursor: pointer;
        display: block;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .progress-wrap:hover::after {
        opacity: 0;
    }
    .progress-wrap::before {
        position: absolute;
        font-family: "font awsome";
        content: '\F25A';
        text-align: center;
        line-height: 46px;
        font-size: 24px;
        opacity: 0;
        background: #fdc300; /* --- Pijl hover kleur --- */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        left: 0;
        top: 0;
        height: 46px;
        width: 46px;
        cursor: pointer;
        display: block;
        z-index: 2;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .progress-wrap:hover::before {
        opacity: 1;
    }
    .progress-wrap svg path { 
        fill: none; 
    }
    .progress-wrap svg.progress-circle path {
        stroke: rgba(253, 194, 0, 0.726); /* -- BG AFTER--- */
        stroke-width: 5;
        box-sizing:border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    /*Dropdown*/
    nav li:hover a {
        color: #ffffff;
        background-color: #000000;
    }
    nav li ul {
        float: left;
        left: -40px;
        right: -40px;
        opacity: 0;
        position: absolute;
        top: 35px;
        visibility: hidden;
        z-index: 1;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
    }
    nav li:hover ul {
        opacity: 1;
        top: 50px;
        visibility: visible;
        background-color: #000000;
    }
    nav li ul li {
        float: none;
        text-align: center;
        width: 100%;
        padding: 5px 4px;
        color: #fdc300;
    }
    nav li ul a:hover {
        color: whitesmoke;
    }
    .background-4 {
        background-image: url("images/RDS.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
    .background-5 {
        background-image: url("images/olidose.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
    .background-6 {
        background-image: url("images/ovulove.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
    .background-7 {
        background-image: url("images/enactus\ background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
    .background-8 {
        background-image: url("images/trophie.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
    .background-9 {
        background-image: url("images/enactus_day_powerskills.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
    .background-10 {
        background-image: url("images/PowerSkills\ bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #303030;
        background-blend-mode: multiply;
    }
 @media not all and (min-width: 640px) {
        .myimage {
            width: 460px;
            height: 290px;
            position: relative;
            filter: brightness(0.4);
        }
        .mydiv {
            position: absolute;
            width: 460px;
            padding: 20px 30px;
        }
        .mytitle {
            transform: translateY(110px);
            transition: all ease-out .5s;
        }
        .mytext {
            text-align: center;
            font-size: .7rem;
            width: 100%;
            opacity: 0;
            transition: all ease-in-out .5s;
            padding-inline: 20px;
        }
        
        .mydiv:hover > .mytext{
            opacity: 1;
            transition-delay: .4s;
        }
        .mydiv:hover > .mytitle {
            transform: translateY(0);
        }
        
        .myimage2 {
            width: 460px;
            height: 290px;
            position: relative;
            filter: brightness(0.4);
        }
        .mydiv2 {
            position: absolute;
            z-index: 1;
        }
}